<div class="container">
  <h1 class="error">{{ error }}</h1>
</div>
<div class="container">
  <h2>Vanilla Pipes</h2>
  <div class="col-lg-12 card">
    <p>original: {{ name }}</p>
    <p>uppercase: {{ name|uppercase }}</p>
    <p>slice: {{ name|slice:'2':'5' }}</p> 
  </div>
  <div class="col-lg-12 card">
    <p>original: {{ tenPI }}</p>
    <p>2.2-5: {{ tenPI|number:'2.2-5' }}</p>
    <p>3.7-7: {{ tenPI|number:'3.7-7' }}</p>
    <p>2.20-20: {{ tenPI|number:'2.20-20' }}</p>
  </div>
  <div class="col-lg-12 card">
    <p>original: {{ money }}</p>
    <p>RMB: {{ money|currency:'RMB' }}</p>
    <p>USDWithSymbol: {{ money|currency:'USD':true }}</p>
  </div>
  <div class="col-lg-12 card">
    <p>original: {{ now }}</p>
    <p>fullDate: {{ now|date:'fullDate' }}</p>
    <p>mediumDate: {{ now|date:'mediumDate' }}</p>
    <p>shortTime: {{ now|date:'shortTime' }}</p>
  </div>
</div>
<div class="container">
  <h2>Custom Pipes</h2>
  <input type="text" placeholder="filter by name" [(ngModel)]="term">
  <div id="divMedia" class="col-lg-12" >
    <div class="row" *ngFor="let medium of seeker | byName:term">
      <div class="avatarHolder col-lg-3">
        <div class="uAvatar col-lg-12">
          <img class="img-fluid" [src]="'statics/media/images/' + medium.avatar" alt="{{ medium.name }}'s avatar">
        </div>
        <div class="uName col-lg-12">
          <p>{{ medium.name }}</p>
        </div>
      </div>
      <div class="col-lg-9">
        <article class="card col-lg-12">
          <h4>QZone</h4>
          <div class="col-lg-12">{{ medium.QZoneDate|date:'mediumDate'  }}</div>
          <div class="col-lg-12">{{ medium.QZone }}</div>
        </article>
        <article class="card col-lg-12">
          <h4>Weibo</h4>
          <div class="col-lg-12">{{ medium.WeiboDate|date:'mediumDate'  }}</div>
          <div class="col-lg-12">{{ medium.Weibo }}</div>
        </article>
        <article class="card col-lg-12">
          <h4>Facebook</h4>
          <div class="col-lg-12">{{ medium.FacebookDate|date:'mediumDate'  }}</div>
          <div class="col-lg-12">{{ medium.Facebook }}</div>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="container placeholder"></div>