.room {
    min-height: 300px;
    div.bulbHolder {
        text-align: right;
    }
    main{
        text-align: center;
        margin-top: 10%;
    }
}

div#bdkRoom {
    min-height: 1px;
    main{
        margin-top: 2%;
    }
}

div#mdkRoom {
    margin-top: 15px;
}



.dark {
    background-color: black;
}

.bright {
    background-color: white;
}