div#cdkRoom {
    min-height: 300px;
    div.bulbHolder {
        text-align: right;
    }
    main{
        text-align: center;
        margin-top: 10%;
    }
}

.dark {
    background-color: black;
}

.bright {
    background-color: white;
}