.shown {
    display: block;
}

.hidden {
    display: none;
}

.text-error {
    color: red;
}

.text-highlight {
    color: cornflowerblue;
    font-weight: bolder;
}

#divEB {
    main {
        text-align: center;
    }
}