<div class="container">
  <div class="col-lg-12">
    <h3>Data binding:</h3>
    It is already <input type="text" value="{{ now }}" [required]=true />! = It is <input type="text" [value]="now" required /> already!
  </div>

  <div id="divEB" class="col-lg-12">
    <h3>Event binding:</h3>
    <main>
      <a class="btn btn-large btn-primary" (click)="alertpa()">Hit me</a>
      <p [class]="classSoH"> You have new message(s), open Debug tool to view it.</p>
    </main>
  </div>
  <div class="col-lg-12">
    <h3>Two-way Data binding:</h3>
    <form>
      <div class="form-group">
        <label for="eml">Email address</label>
        <input #eml="ngModel" [(ngModel)]="email" type="email" class="form-control" id="eml" name="userEmail" aria-describedby="smEmailHelp" placeholder="Enter email" pattern="^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$" required>

        <small *ngIf="eml.errors && (eml.dirty||eml.touched)" id="smEmailError" class="form-text text-error">Something's not right in your email.</small>
        <small id="smEmailHelp" class="form-text text-muted">We'll never share your email with no one else.</small>
      </div>
      <div class="form-group">
        <label for="pswd">Password</label>
        <input #pswd="ngModel" [(ngModel)]="password" type="password" class="form-control" id="pswd" name="userPassword" placeholder="Password" required>
      </div>
      <div class="form-group">
        <h4>Summary:</h4>
        <p>Okay... </p>
        <p [hidden]="eml.pristine||eml.invalid">Your email address is <span class="text-highlight">{{ email }}</span>,</p>
        <p [hidden]="pswd.pristine||pswd.invalid">and your password, which obviously we can clearly see, is going to be <span class="text-highlight">{{ password }}</span>.</p>
        <p>Feel free to become a member of our top-secure website!</p>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          fxck you
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-lg-12">
    <h3>Parent-child component Interaction</h3>
    <app-io [playList]="playList" (onTell)="playedGames=$event"></app-io>
    <h4>Games played: {{ playedGames }}</h4>
  </div>
</div>
