<main class="container">
  <div *ngIf="cdks.length <= 0">
    <h1 class="error">Error: No sdk data found.</h1>
    <div>
      <h2>Possible solutions:</h2>
      <ul>
        <li>Restart your mongoDB.</li>
        <li>Check server console logs to see if any error occurred.</li>
        <li>
          Restart your koa back-end
          <ul>
            <li>Ctrl + C in terminal</li>
            <li>npm run start:s</li>
          </ul>
        </li>
        <li>
          Do data really exist in your database?
          <ul>
            <li>Import your data from assets folder</li>
            <li>Post to back-end manually. See readme.md for more info.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <article class="card col-lg-12" *ngFor="let cdk of cdks">
    <h2>{{ cdk.name }}</h2>
    <p><b>price</b>: {{ cdk.price }}</p>
    <p><b>platform</b>: {{ cdk.platform }}</p>
    <p><b>receiver</b>: {{ cdk.receiver }}</p>
    <p><b>steveAttitude</b>: {{ cdk.steveAttitude }}</p>
    <br>
  </article>
</main>