<main class="container">
  <div *ngIf="cdks.length==0">
    <h1>Error: No data found.</h1>
    <h2>
      <b>Start up Express as well as Mongo before viewing this example!</b>
      <ul>
        <li>npm run server</li>
      </ul>
    </h2>
    <h2>
      <b>Restart your express</b>
      <ul>
        <li>Ctrl + C in terminal</li>
        <li>npm run server</li>
      </ul>
    </h2>
    <h2><b>Are data really in your mongo?</b></h2>

    </div>
  <article class="card col-lg-12" *ngFor="let cdk of cdks">
    <h2>{{ cdk.name }}</h2>
    <p><b>price</b>: {{ cdk.price }}</p>
    <p><b>platform</b>: {{ cdk.platform }}</p>
    <p><b>receiver</b>: {{ cdk.receiver }}</p>
    <p><b>steveAttitude</b>: {{ cdk.steveAttitude }}</p>
  </article>
</main>